#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  /* text-align: center; */
  /* min-width: 100%; */
  /* flex: 1; */
  /* flex-grow: 1; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
